.social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social li {
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social__item {
  color: white;
  font-size: 12px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
  opacity: 0.7;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(214, 0, 28, 1);
    transition: 0.3s;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__item--headhunter {
  background-image: url("../img/icon-hh.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.social__item--mail {
  background-image: url("../img/icon-mail.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: 70%;
}

.social__item--github {
  background-image: url("../img/icon-github.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: 70%;
}

@media (min-width: $tablet-width) {
  .social__item {
    width: 36px;
    height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .social__item {
    width: 50px;
    height: 50px;
  }
}
